BugTracker/ATL/UserAndIssues.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="type">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="ns:type" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
          <xs:attribute type="xs:string" name="href" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ownedParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="type"/>
      </xs:sequence>
      <xs:attribute ref="ns:type" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
      <xs:attribute ref="ns:id" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="direction" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="generalization">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="ns:type" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
          <xs:attribute ref="ns:id" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
          <xs:attribute type="xs:string" name="general" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ownedAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="type"/>
      </xs:sequence>
      <xs:attribute ref="ns:type" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
      <xs:attribute ref="ns:id" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="visibility" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ownedOperation">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="ownedParameter" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute ref="ns:type" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
      <xs:attribute ref="ns:id" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="visibility" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="packagedElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="generalization" minOccurs="0"/>
        <xs:element ref="ownedAttribute" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="ownedOperation" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute ref="ns:type" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
      <xs:attribute ref="ns:id" xmlns:ns="http://www.omg.org/spec/XMI/20131001"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="visibility" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>